@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* GLOBAL CSS */

body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: #e9e9e9;
    width: 100%;
}

h1{
    font-size: 3.815rem;
}

h2{
    font-size: 3.052rem;
}

h3{
    font-size: 2.441rem;
}

h4{
    font-size: 1.953rem;
}

h5{
    font-size: 1.563rem;
}

p{
    font-size: 1rem;
}

small{
    font-size: 0.8rem;
}

.btn{
    padding: 10px 5px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #dc2012;
    color: #dc2012;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #dc2012;
    color: #fff;
    border: 2px solid #fff;
}

.img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    h1{
        font-size: 2.027rem;
    }
    h2{
        font-size: 1.802rem;
    }
    h3{
        font-size: 1.602rem;
    }
    h4{
        font-size: 1.424rem;
    }
    h5{
        font-size: 1.266rem;
    }
    p{
        font-size: 1rem;
    }
    small{
        font-size: 0.889rem;
    }
}

@media screen and (max-width: 450px) {
    h1{
        font-size: 1.475rem;
    }
    h2{
        font-size: 1.383rem;
    }
    h3{
        font-size: 1.296rem;
    }
    h4{
        font-size: 1.215rem;
    }
    h5{
        font-size: 1.138rem;
    }
    p{
        font-size: 1rem;
    }
    small{
        font-size: 0.937rem;
    }
}


/* HEADER SECTION */
header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

header .logo img{
    height: 60px;
}

/* NAVBAR SECTION */
nav .menu li a{
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding: 10px;
}

nav .menu li a:hover{
    text-decoration: underline;
    color: #fff;
    background-color: #dc2012;
    border-radius: 5px;
}
nav .menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
        gap: 10px;
        height: 140px;
    }
    header .logo{
        position: relative;
    }

    header .logo::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 5px;

    }
}

/* HERO SECTION */
.hero{
    background: url(images/hero.jpg)rgba(0,0,0,0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.hero h1{
    margin-bottom: 30px;
    position: relative;
}

.hero h1::after{
    content: "";
    position: absolute;
    width: 620px;
    height: 5px;
    background-color: #dc2012;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
}

.hero h4{
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .hero h1::after{
        width: 320px;
    }
    nav .menu{
        gap: 10px;
    }
}

@media screen and (max-width: 450px) {
    .hero h1::after{
        width: 220px;
    }
}

/* IMAGE SLIDER */

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
  }
  
  .slide {
    min-width: 100%;
    height: 100%;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    z-index: 100;
  }
  
  .slider-container button.prev {
    left: 10px;
  }
  
  .slider-container button.next {
    right: 10px;
  }
  
  .slider-container button:focus {
    outline: none;
  }
  
  @media (max-width: 1200px) {
    .slider-container {
        height: 40vh;
    }

    .slider-container img{
        object-fit: cover;
    }
  
    .slider-container button {
      padding: 0.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .slider-container{
        height: 20vh;
    }

    .slider-container img{
        object-fit: cover;
    }
  
    .slider-container button {
      padding: 0.3rem;
    }
  }

/* COURSES */

.courses .card-container{
    text-align: left;
}
.card-container{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.courses .card-container .card img{
    width: 50px;
    height: 50px;
}

.intro-card{
    text-align: center;
    margin-top: 20px;
    border-radius: 2px solid #000;
}

.intro-card h5{
    font-weight: bold;
}

.card{
    margin: 10px;
    width: 350px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
}

.other-card{
    background-color: #23523c;
    color: #fff;
}

.other-card h4{
    margin-bottom: 10px;
}

.other-card p{
    margin-bottom: 10px;
}

.other-card ul li{
    margin: 5px;
}

/* TESTIMONIAL SECTION */
.testimonials {
    text-align: center;
    padding: 20px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30vh;
    margin: auto;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.carousel-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Responsive styling for tablet screens */
@media screen and (max-width: 768px) {
    .carousel-container{
        height: 80vh;
    }
    .carousel-item {
        font-size: 1.2rem;
        padding: 15px;
    }
    
    .carousel-item img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-item {
        font-size: 1rem;
        padding: 10px;
    }
    
    .carousel-item img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item {
        font-size: 1.2rem;
        padding: 15px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-item {
        font-size: 1rem;
        padding: 10px;
    }
}

/* CONTACT SECTION */
.contact h2{
    text-align: center;
    margin-bottom: 20px;
}


.contact-area{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
}

.left h2{
    margin-bottom: 20px;
    position: relative;
}

.left h2::after{
    content: "";
    position: absolute;
    width: 320px;
    height: 5px;
    background-color: #dc2012;
    bottom: -10px;
    left: 0;
    border-radius: 5px;
}

.left h3{
    margin-bottom: 70px;
}

.left p{
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1.2rem;
}

.left i{
    color: #dc2012;
    margin-right: 10px;
}

.left a{
    color: #fff;
}
.right{
    background-color: #23523c;
    color: #fff;
    width: 100%;
    height: 100vh;
    padding: 20px 50px;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
}

.right input,textarea{
    width: 100%;
    margin: 5px auto;
    padding: 20px 10px;
    border-radius: 5px;
}

.right label{
    font-size: 1.2rem;
    font-weight: bold;
}

.right button{
    padding: 10px 20px;
    font-size: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: #23523c;
    width: 100px;
    background-color: #fff;
}

.right button:hover{
    background-color: #23523c;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .contact-area{
        flex-direction: column;
    }

    .left h2::after{
        width: 200px;
    }
}

/* CHOOSE US */
.choose{
    margin: 40px auto;
    text-align: center;
}

.card-container .card img{
    width: 200px;
    height: 175px;
}

.location{
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-color: #000;
    color: #fff;
    text-align: center;
    gap: 20px;
}

.location h5{
    margin-bottom:  10px;
}

.location p{
    margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
    .location{
        flex-direction: column;
        align-items: center;
    }
    
}
/* FOOTER SECTION  */

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}